@import "tailwindcss";

:root {
  --background: #dc2626;
  --foreground: #f1f5f9;
  --primary-blue: #1e40af;
  --accent-gold: #fbbf24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ef4444;
    --foreground: #f1f5f9;
    --primary-blue: #3b82f6;
    --accent-gold: #fcd34d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Khmer OS', Arial, Helvetica, sans-serif;
}